@import url('https://fonts.googleapis.com/css2?family=Ancizar+Serif:ital,wght@0,300..900;1,300..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

p{
    background-color: #547792;
    font-family: "Roboto Mono", monospace;
}

img{
    background-image:url('BRK.png');
}

